.footer {
  justify-content: center;
  padding: 10%;
}

.heading {
  padding-left: 30%;
  padding-right: 20%;
  padding-top: 0%;
}

.footer .links {
  padding-left: 40%;
  display: flex;
  
}

.footer .links img {
  height: 64px;
  width: 64px;
  margin-right:25px ;
}

@media only screen and (max-width: 650px) {
  .footer {
    justify-content: center;
    padding: 10%;
  }

  .footer h1 {
    font-size: larger;
  }

  .footer .links img {
    height: 20px;
    width: 20px;
    margin-right:25px ;
  }
}
